/* mượn oucine */
/* ----------Home------------- */



.img-hover-home:hover img {
    opacity: 0.3;
  }
  
  .img-hover-home:hover .middle-home {
    opacity: 1;
  }
  
  .button-middle-home {
    background-color: gainsboro;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
  }
  
  .button-middle-home:hover {
    background-color: #f26b38;
    transition: 0.5s;
  }
  
  .middle-home {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .img-hover-home {
    position: relative;
  }
  
  .img-home {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
  
  .btn-xemthem {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border-color: #f26b38;
    color: #f26b38;
    border-radius: 10px;
  }
  
  .btn-xemthem:hover {
    background-color: #f26b38;
    color: white;
    transition: 0.5s;
  }
  
  /* ----------------------------------------- */
  
  /* ket thuc mượn oucine */
  .eachFilm-container div,button,a,p,span,li,td,th,dt,dd{
    color:#ddd;
  }
  .div.themeMovie {
    overflow: hidden;
  }
  
  div.themeMovie>img {
    width: 100%;
  }
  