
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div.themeMovie  {
    overflow: hidden;
}

div.themeMovie > img {
    width: 100%;
}

/* style go to top */
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
  }
  /*footer  */
  .footer {
    background-color: #1a1818;
    color: #c4baba;
    padding: 50px 0;
  }
  
  .footer h4 {
    color: #fff;
  }
  
  .footer p {
    font-size: 14px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer ul li a {
    color: #fff;
  }
  
  .social {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  
  .social li {
    list-style: none;
    margin-right: 10px;
  }
  
  .social li a i {
    font-size: 24px;
    color: #fff;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    background-color: #e50914;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #ff5e5e;
  }
  
  /* header */
  .header {
    background-color: #1a1818;
  }
  .header  a {
    color: #fff !important; 

  }

  /* body */
  body {
    background-color: #282626dd !important;
  }

  #demo1 {
    color:  rgb(0, 170, 255);
  }