* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div.themeMovie {
  overflow: hidden;
}

div.themeMovie>img {
  width: 100%;
}

/* style go to top */
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

/*footer  */
.footer {
  background-color: #1a1818;
  color: #c4baba;
  padding: 50px 0;
}

.footer h4 {
  color: #fff;
}

.footer p {
  font-size: 14px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #fff;
}

.social {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.social li {
  list-style: none;
  margin-right: 10px;
}

.social li a i {
  font-size: 24px;
  color: #fff;
}

.form-group {
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #e50914;
  border: none;
}

.btn-primary:hover {
  background-color: #ff5e5e;
}

/* header */

header.header {
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  z-index: 9999;
  background-color: #1a1818;
  
}

header.header.sticky {

  transform: translateY(-100%);
  position: fixed;

}


header.header a {
  color: #fff !important;

}

/* body */
body {
  background-color: #282626dd !important;
}

#demo1 {
  color: rgb(0, 170, 255);
}


/* thumbn */


 .movie {
  border-bottom: 1px dashed #555;
  padding: 6px 0;
  font-size: 12px;
  list-style: none;
  display: flex;
  background-color: #1a1818;
  padding: 10px;
}

.movie-link {
  display: block;
}


a {
  color: #46E1FF;
  text-decoration: none;
}


.movie .eps {
    color: #666;
    font-size: 12px;
    margin-left: auto;
}

.clear {
    clear: both;
}

a.movie-link {
    display: flex;
  
}
div.meta {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.name-en {
  color:#666;
}
div.thumbn {
  width: 50px;
  height: 50px;
}
div.thumbn img {
  width: 100%;
  height: 100%;
}


/* movie card1 */
.movie-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card1 {
  background: #000;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.card1 img {
  width: 100%;
  border-radius: 5px;
}

.card1 h2 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.card1 p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}
